.projects-div {
  padding: 10px 100px 50px 100px;
  background-color: #d0d6da;
}

.projects-div>h1 {
  color: var(--grey-brand);
  font-size: 50px;
  text-shadow: 0px 0px 3px black;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--grey-brand);
  width: 250px;
  padding-left: 30px;
  margin-bottom: 80px;
}

.announcement {
  color: #7a7a7d;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.announcement span {
  color: #eeb853;
  font-weight: bold;
  text-shadow: 0px 0px 2px black;
}


.project {
  height: 370px;
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  border-radius: 10px;
  /* background-color: beige; */
  border: 3px solid #838383;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.tech-logo-img {
  position: absolute;
  bottom: 10px;
  left: 15px;
  width: 50px;
}

.pc-image-div {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.pc-image-div>img {
  width: 100%;
}

.project-description-div {
  width: 50%;
  /* background-color: green; */
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.project-description-div>h1 {
  height: 15%;
  color: var(--grey-brand);
  font-size: 30px;
  display: flex;
  align-items: center;
  font-style: italic;
}

.project-description-div>p {
  height: 30%;
  padding-top: 25px;
  font-size: 14px;
}

.email-and-pass {
  position: absolute;
  right: 8px;
  bottom: 8px;
  font-size: 12px;
  line-height: 20px;
  z-index: 1;
}

.email-and-pass>span {
  background-color: var(--orange-brand);
  padding: 1px 6px;
  border-radius: 4px;
  font-size: 12px;
}



.technologies-used-div {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 5px
}

.frontend-tech,
.backend-tech {
  display: flex;
  gap: 10px
}

.frontend-tech>span,
.backend-tech>span {
  padding: 2px 8px;
  border-radius: 4px;
  width: max-content;
  font-size: 12px;
  color: var(--grey-brand);
  font-weight: bold;
  background-color: white;
}

.frontend-tech>span {
  border: 2px solid var(--orange-brand);
}

.backend-tech>span {
  border: 2px solid #4f6d81;
}

.live-demo-btn,
.view-source-btn {
  margin-left: 20px;
  border: none;
  padding: 10px 20px;
  width: 160px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.5s;

}

.live-demo-btn:hover,
.view-source-btn:hover {
  scale: 1.1;
  transition: 0.5s;
}

.live-demo-btn {
  background-color: var(--orange-brand);
  color: var(--grey-brand);
}

.view-source-btn {
  background-color: #4f6d81;
  color: var(--light-brand)
}


.buttons-div {
  height: 25%;
  /* background-color: palegreen; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.phone-image-div {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-image-div>img {
  width: 70%;
}


.images-div-hidden-for-big-screen {
  height: 100px;
  display: none;
}

.images-div-hidden-for-big-screen>img {
  height: 100%;
}

@media(max-width:1150px) {
  .project {
    height: 370px;
    width: 80vw;
  }
}


@media(max-width:900px) {
  .projects-div {
    padding: 10px 50px 50px 50px;
    height: fit-content;
  }

  .announcement {
    font-size: 12px;
    max-width: 520px;
  }

  .projects-div>h1 {
    font-size: 35px;
    width: 150px;
    padding-left: 0px;
  }

  .project {
    min-height: 500px;
    flex-direction: column;
  }

  .project-description-div {
    width: 100%;
    height: 100%;
  }

  .pc-image-div,
  .phone-image-div {
    display: none;
  }

  .images-div-hidden-for-big-screen {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }

  .live-demo-btn,
  .view-source-btn {
    width: 120px;
    padding: 8px 10px;
  }
}


@media(max-width:730px) {
  .tech-logo-img {
    top: 10px;
    right: 15px;
    left: auto;
    width: 40px;
  }


  .project-description-div {
    padding-bottom: 50px;
  }

  .email-and-pass {
    position: absolute;
    left: 8px;
    bottom: 8px;
    font-size: 12px;
    line-height: 20px;
  }

  .project-description-div>p {
    height: fit-content;
    font-size: 14px;
    padding-bottom: 20px;
  }


  .technologies-used-div {
    justify-content: center;
    gap: 5px;
    align-items: center;
  }

}


@media(max-width:500px) {

  .announcement {
    font-size: 10px;
    max-width: 300px;
    margin-bottom: 20px;
  }

  .frontend-tech,
  .backend-tech {
    gap: 0px
  }

  .projects-div {
    padding: 10px 0 20px 0;
  }

  .project {
    min-height: 440px;
  }

  .projects-div>h1 {
    margin-left: 20px;
    margin-bottom: 50px;
    width: fit-content;
  }

  .project-description-div>p {
    padding-top: 10px;
    font-size: 10px;
  }

  .live-demo-btn,
  .view-source-btn {
    width: 100px;
    padding: 7px 10px;
    font-size: 10px;
  }

  .frontend-tech>span,
  .backend-tech>span {
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 10px;
    margin-right: 5px;
  }

  .technologies-used-div {
    height: 20%;
    justify-content: center;
    gap: 5px
  }

  .email-and-pass {
    font-size: 10px;
  }

  .email-and-pass>span {
    font-size: 10px;
  }
}