.skills-container {
  padding: 20px 100px 100px 100px;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.skills-container>h1 {
  color: var(--grey-brand);
  font-size: 50px;
  text-shadow: 0px 0px 3px black;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--grey-brand);
  width: 200px;
  padding-left: 30px;
}


.skills-section {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 40px;
  width: 100%;
}

.skills-section>div {
  display: flex;
}

.skills-section>h1 {
  color: var(--grey-brand);
  margin-bottom: 18px;
  font-size: 28px;
  font-style: italic;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  /* background-color: yellow; */
}

.skill>img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.skill>p {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}






@media(max-width:1200px) {
  .skills-container {
    padding: 20px 100px;
  }

  .skill {
    width: 75px;
  }

  .skill>img {
    width: 42px;
    height: 42px;
    margin-bottom: 10px;
  }

  .skills-section {
    padding: 50px 0;
  }
}

@media(max-width:1000px) {
  .skill {
    width: 60px;
  }

  .skill>img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
}

@media(max-width:900px) {

  .skills-container {
    padding: 20px 50px;
  }

  .skills-container>h1 {
    font-size: 35px;
    width: 100px;
    padding-left: 0px;
  }

}


@media(max-width:700px) {

  .skills-section {
    padding: 0;
    margin: 20px 0 ;
  }

  .backend-skills {
    padding: 0;
    margin: 20px 0 0px 0;
    height: fit-content;
  }

  .skills-section>div {
    width: 400px;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

@media(max-width:500px) {

  .skills-container {
    padding: 10px 0 70px 0;
  }

  .skill {
    width: 50px;
  }

  .skill>img {
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
  }



  .skills-section {
    padding: 0;
    margin: 10px 0 40px 0;
    height: fit-content;
  }



  .skills-container>h1 {
    margin-left: 20px;
    width: fit-content;
  }


  .skills-section>div {
    width: 90%;
    gap: 10px;
  }


}