.header {
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .3s ease-in;
  /* overflow: hidden; */
  background-color: rgba(44, 46, 52, 0.639);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 2px 2px 12px rgb(35, 35, 35);
  padding: 0 150px;
  z-index: 2
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 100%;
}

.header .nav-hamburger {
  display: none;
}

.header .side-menu {
  display: none;
}

.header .navbar .logo-div {
  height: 100%;
}

.header .navbar .logo-div>a {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .navbar .logo-div>a>img {
  height: 70%;
  width: 80px;
}

.header .nav-menu {
  display: flex;
  gap: 50px;
  list-style-type: none;
}

.header .nav-menu a {
  color: var(--light-brand);
}

.header .navbar img {
  width: 250px;
  height: auto;
}


.header .nav-item {
  transition: 0.5s
}

.header .nav-item a {
  padding: 12px;
  font-weight: 600;
}

.header .nav-item:hover {
  scale: 1.2;
  transition: 0.5s;
}

.nav-item .active {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--light-brand);
}


@media(max-width:900px) {
  .header {
    padding: 0 50px;
  }
}


@media(max-width:700px) {
  .header .navbar .logo-div>a>img {
    height: 50%;
    width: 50px;
  }

  .header .nav-menu {
    gap: 20px;
  }

  .header .nav-item a {
    padding: 6px;
    font-size: 14px;
  }
}


@media(max-width:490px) {
  .header {
    padding: 0 20px;
  }

  .header .nav-menu {
    gap: 10px;
  }

  .header .nav-item a {
    padding: 4px;
    font-size: 12px;
  }

  .header .nav-menu {
    display: none;
  }

  .header .nav-hamburger {
    display: block;
    cursor: pointer;
    /* padding: 20px; */
    -webkit-tap-highlight-color: transparent;
    color: #b39f1e;

  }

  .header .nav-hamburger :nth-child(1) {
    color: #ddcb56;
    user-select: none;

  }

  .header .side-menu {
    position: fixed;
    top: 70px;
    right: 0;
    height: 100vh;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: linear-gradient(145deg,
        #2d333c,
        #1f252def);

    box-shadow: 2px 2px 12px #1f1f1f;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
  }

  .header .side-menu.active {
    transform: translateX(0);
  }

  .header .side-menu li {
    margin: 24px 0;
    list-style: none;
    color: var(--light-brand);
    -webkit-tap-highlight-color: transparent;

  }

  .header .side-menu li a {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px
  }

  .header .side-menu li a:hover {
    scale: 1.0;
    transition: 0.3s;
  }

  .nav-item .active {
    border-bottom: none;
  }
}

.scaleUp {
  animation: scaleUp 1s ease;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}