.dashboard-container {
  /* padding: 70px 0 0 0; */
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  /* gap:50px */
}

.dashboard-container>section {
  background-color: var(--light-brand);
}

/** SECTION 1 **/

.section1 {
  padding: 70px;
  background-image: url('../../assets/Screenshot 2024-04-29 130407.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

/** SECTION 2 **/
.section2 {
  height: fit-content;
  /* padding-bottom: 30px; */
}


/** SECTION 3 **/
.section3 {
  min-height: calc(100vh - 70px);
  height: fit-content;
}


/** SECTION 4 **/
.section4 {
  background-image: url('../../assets/Screenshot 2024-04-29 130407.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 60px);
  height: fit-content;
}


@media(min-width: 1850px) {
  .section2 {
    height: fit-content
  }  
}


@media(max-width:500px) {
  .section1 {
    padding: 30px 0;
  } 
}