.contact-me-container {
  padding: 40px 100px 150px 100px;
  display: flex;
  flex-direction: column;
  min-height: inherit;
  height: fit-content;

}

.contact-me-container>h1 {
  color: var(--light-brand);
  font-size: 50px;
  text-shadow: 0px 0px 3px black;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--light-brand);
  width: 320px;
  padding-left: 30px;
}

.contact-details {
  display: flex;
  flex-grow: 1;
}


.info-div {
  width: 50%;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--light-brand);
}

.icon-div {
  /* background-color: blue; */
  min-width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--orange-brand);
  border-radius: 1000px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}

.icon-div>span {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-div {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

.text-div>p {
  color: var(--orange-brand);
}

.info {
  display: flex;
  align-items: center;
  flex-grow: 1;
  /* background-color: red; */
}


.my-picture-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-picture-container>div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  padding: 10px;
  border: 5px solid var(--orange-brand);
  overflow: hidden;
  transform: rotate(45deg);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}


.my-picture-container>div>img {
  width: 150%;
  height: 150%;
  object-fit: cover;
  transform: rotate(-45deg);
}


.go-to-whatsapp {
  cursor: pointer;
}


@media(max-width:1100px) {
  .contact-me-container {
    padding: 40px 20px;
  }

  .my-picture-container {
    display: none;
  }

  .contact-details {
    width: 100%;
    justify-content: center;
  }

}


@media(max-width:900px) {
  .contact-me-container {
    padding: 50px;
  }


  .contact-me-container>h1 {
    font-size: 35px;
    width: fit-content;
    padding-left: 0px;
  }

  .info-div {
    width: 100%;
  }


  .text-div {
    margin-left: 30px;

  }
}


@media(max-width:500px) {

  .contact-me-container {
    padding: 20px 0;

  }

  .contact-me-container>h1 {
    margin-left: 20px;
    width: fit-content;
  }

  .info {
    width: 80%;
    align-items: center;
    margin: 0 auto;
  }


  .info-div {
    padding: 0;
    height: 350px;
  }

  .icon-div {
    min-width: 50px;
    height: 50px;
    border: 2px solid var(--orange-brand);
  }

  .icon-div>span {
    font-size: 18px;
  }

  .text-div h1 {
    font-size: 22px;
  }

}